@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MetarankingsUmbraco.Models.Band>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
}
<div class="go-back">
    <a href="@Model.Parent.Url()">Back</a>
</div>
<h4>@Model.Name</h4>
<img width="70%" src="@Model.MainImage.Url()" />
<div class="article">
    @Model.Article
</div>
<div class="links">
    <ol>
        @foreach (var linkSongPage in Model.Children<MetarankingsUmbraco.Models.Song>())
        {
            <div class="audio-link-item">
            <li>
                <a href="@linkSongPage.Url()">@linkSongPage.Name</a>
                <div class="audio-record">
                        @if (linkSongPage.AudioRecord != null)
                        {
                        <audio controls>
                            <source src="@linkSongPage.AudioRecord" type="audio/mpeg">
                        </audio>
                        }
                </div>
            </li>
    </div>
        }
    </ol>
</div>