@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MetarankingsUmbraco.Models.Band>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}
<div class="go-back">
    <a href="@Model.Parent.Url()">Back</a>
</div>
<h4>@Model.Name</h4>
<img width="100%" src="@Model.MainImage.Url()" />
<div class="article">
    @Model.Article
</div>
<div class="links">
    <ol>
        @foreach (Album linkAlbumPage in Model.Children<Album>())
        {
            <div class="album-link-item">
                <li>
                <h4><a href="@linkAlbumPage.Url()">@linkAlbumPage.Name</a></h4>
                    @foreach (Song song in linkAlbumPage.Children<Song>())
                    {
                        <div class="song-from-band-page-info">
                            <h4><a href="@song.Url()">@song.Name</a></h4>
                            <div class="song-info">
                                @if(!string.IsNullOrWhiteSpace(song.Text.ToString()))
                                {
                                    <div class="song-text">
                                        @song.Text
                                    </div>
                                }
                                else
                                {
                                    <div class="no-lyrics">
                                        <h4>This record has no lyrics</h4>
                                    </div>
                                }
                                </div>
                            <div class="song-record">
                            @if (song.AudioRecord != null)
                            {
                                <audio controls>
                                    <source src="@song.AudioRecord" type="audio/mpeg">
                                </audio>
                            }
                            </div>
                        </div>
                    }
                </li>
            </div>
        }
    </ol>
</div>