@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MetarankingsUmbraco.Models.BandsMainPage>
@using ContentModels = MetarankingsUmbraco.Models;
@{
	Layout = null;
}
<div class="d-generic-page-head"

@foreach (Band item in Model.Children<MetarankingsUmbraco.Models.Band>())
{
    <div>
        <div class="band-list-item">
            <a href="@item.Url()">
                <img href="@item.Url()" width="70%" src="@item.MainImage.Url()" />
            </a>
            <br/>
            <div class="band-name-link">
                <a href="@item.Url()">@item.Name</a>
            </div>
        </div>
    </div>
}