@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MetarankingsUmbraco.Models.Song>
@using ContentModels = MetarankingsUmbraco.Models;
@{
    Layout = "Master.cshtml";
}
<div class="go-back">
    <a href="@Model.Parent.Url()">Back</a>
</div>
<div class="song-info">
    <h4>@Model.Name</h4>
    <div class="song-text">
        @if (!string.IsNullOrWhiteSpace(Model.Text.ToString()))
        {
            <text>@Model.Text</text>
        }
        else
        {
            <text>This track has no lyrics</text>
        }
    </div>
    <div class="release-year">
        <h4>@Model.ReleaseYear.Year</h4>
    </div>
    <div class="audio-record">
        @if (Model.AudioRecord != null)
        {
            <audio controls>
                <source src="@Model.AudioRecord" type="audio/mpeg">
            </audio>
        }
    </div>
        @if(Model.Parent is Album)
        {   
            <div class="song-album">
                <h4>@(((Album)Model.Parent).Name)</h4>
            </div>
        }
</div>